<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>大纲</title>
</head>
<body>
<!--outline-->
<div class="Condiv" th:fragment="outLine">
    <ul><li><h1><span id="ReportIDname">全国计算机等级考试考试大纲(2019年版）</span></h1><div class="sou"><div class="lefts">发布时间：<span id="ReportIDIssueTime">2018-12-14</span></div><span id="ReportIDClassName" data="0"></span></div><div id="pdfDown"></div><span id="ReportIDtext"><table border="1" cellpadding="0" cellspacing="0" style="width:529px">
	<tbody>
		<tr>
			<td><strong>级别 </strong></td>
			<td><strong>大纲名称 </strong></td>
		</tr>
		<tr>
			<td rowspan="4"><strong>一级</strong><strong> </strong></td>
			<td>一级计算机基础及WPS Office应用考试大纲（2018年版）<a href="http://ncre.neea.edu.cn/res/Home/1812/8df76b498b49ce2969a4065285ea92b8.pdf" target="_blank">点击下载</a></td>
		</tr>
		<tr>
			<td>一级计算机基础及MS Office应用考试大纲（2018年版）<a href="http://ncre.neea.edu.cn/res/Home/1812/057d1282f97e067cdc3281f186b5a8e5.pdf" target="_blank">点击下载</a></td>
		</tr>
		<tr>
			<td>一级计算机基础及Photoshop应用考试大纲（2018年版）<a href="http://ncre.neea.edu.cn/res/Home/1812/ad816220c6244542ef5596a917def18d.pdf" target="_blank">点击下载</a></td>
		</tr>
		<tr>
			<td>一级网络安全素质教育考试大纲（2019年版）<a href="http://ncre.neea.edu.cn/res/Home/1812/1e8b777b5572b9519f6d2995b81ab237.pdf" target="_blank">点击下载</a></td>
		</tr>
		<tr>
			<td rowspan="10"><strong>二级</strong><strong> </strong></td>
			<td>二级公共基础知识考试大纲（2018年版）<a href="http://ncre.neea.edu.cn/res/Home/1812/8bbe8ab851b3e5444167d88169fc3176.pdf" target="_blank">点击下载</a></td>
		</tr>
		<tr>
			<td>二级C语言程序设计考试大纲（2018年版）<a href="http://ncre.neea.edu.cn/res/Home/1812/8c2d01f0968f3aa1224f500000a0ce4f.pdf" target="_blank">点击下载</a></td>
		</tr>
		<tr>
			<td>二级VB语言程序设计考试大纲（2018年版）<a href="http://ncre.neea.edu.cn/res/Home/1812/fa607622578a68fb2c1eded5240b0b69.pdf" target="_blank">点击下载</a></td>
		</tr>
		<tr>
			<td>二级Java语言程序设计考试大纲（2018年版）<a href="http://ncre.neea.edu.cn/res/Home/1812/7eba317442f41ca98e6b9a5524f02762.pdf" target="_blank">点击下载</a></td>
		</tr>
		<tr>
			<td>二级Access数据库程序设计考试大纲（2016年版）<a href="http://ncre.neea.edu.cn/res/Home/1812/fb4ff1a421fd16db016cf48dff2d6305.pdf" target="_blank">点击下载</a></td>
		</tr>
		<tr>
			<td>二级C++语言程序设计考试大纲（2018年版）<a href="http://ncre.neea.edu.cn/res/Home/1812/ac9a46576cc88d4c751877c1ecd5cc97.pdf" target="_blank">点击下载</a></td>
		</tr>
		<tr>
			<td>二级MySQL数据库程序设计考试大纲（2018年版）<a href="http://ncre.neea.edu.cn/res/Home/1812/cc403d08b4dd934a91f495dc4bfdca27.pdf" target="_blank">点击下载</a></td>
		</tr>
		<tr>
			<td>二级Web程序设计考试大纲（2018年版）<a href="http://ncre.neea.edu.cn/res/Home/1812/f483fd98c94302792e9b8e1218f59c03.pdf" target="_blank">点击下载</a></td>
		</tr>
		<tr>
			<td>二级MS Office高级应用考试大纲（2018年版）<a href="http://ncre.neea.edu.cn/res/Home/1812/48c3064a84de48bdd84ba01651aed487.pdf" target="_blank">点击下载</a></td>
		</tr>
		<tr>
			<td>二级Python语言程序设计考试大纲（2018年版）<a href="http://ncre.neea.edu.cn/res/Home/1812/c707e8b7df16fc622921481aca19ed6a.pdf" target="_blank">点击下载</a></td>
		</tr>
		<tr>
			<td rowspan="4"><strong>三级</strong><strong> </strong></td>
			<td>三级网络技术考试大纲（2018年版）<a href="http://ncre.neea.edu.cn/res/Home/1812/425db3316d1b0177c83eae11cd303e84.pdf" target="_blank">点击下载</a></td>
		</tr>
		<tr>
			<td>三级数据库技术考试大纲（2018年版）<a href="http://ncre.neea.edu.cn/res/Home/1812/d272b1ef89b3832235ad6bb3be802a91.pdf" target="_blank">点击下载</a></td>
		</tr>
		<tr>
			<td>三级信息安全技术考试大纲（2018年版）<a href="http://ncre.neea.edu.cn/res/Home/1812/f9273eebb74278c0ac4a46df568ddedc.pdf" target="_blank">点击下载</a></td>
		</tr>
		<tr>
			<td>三级嵌入式系统开发技术考试大纲（2018年版）<a href="http://ncre.neea.edu.cn/res/Home/1812/881297f0f7d1738613b1115bd0bea2a0.pdf" target="_blank">点击下载</a></td>
		</tr>
		<tr>
			<td rowspan="4"><strong>四级</strong><strong> </strong></td>
			<td>四级操作系统原理考试大纲（2018年版）<a href="http://ncre.neea.edu.cn/res/Home/1812/dd5b695d405040af8efd0b83aaa09b59.pdf" target="_blank">点击下载</a></td>
		</tr>
		<tr>
			<td style="vertical-align:top">四级计算机组成与接口考试大纲（2018年版）<a href="http://ncre.neea.edu.cn/res/Home/1812/308eab139cd8b1d4e6e903847ee367f6.pdf" target="_blank">点击下载</a></td>
		</tr>
		<tr>
			<td>四级计算机网络考试大纲（2018年版）<a href="http://ncre.neea.edu.cn/res/Home/1812/01a21441a9fc8ae587ead183b92785b6.pdf" target="_blank">点击下载</a></td>
		</tr>
		<tr>
			<td>四级数据库原理考试大纲（2018年版）<a href="http://ncre.neea.edu.cn/res/Home/1812/60da51237285649b79b98e6f5db60d74.pdf" target="_blank">点击下载</a></td>
		</tr>
	</tbody>
</table>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify">　　注：一级网络安全素质教育将于2019年9月首次开考</p></span>
</div>
</body>
</html>