<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>编辑用户页面</title>
		<!-- Bootstrap core CSS -->
		<link href="asserts/css/bootstrap.min.css" th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="asserts/css/dashboard.css" th:href="@{/asserts/css/dashboard.css}" rel="stylesheet">
		<style type="text/css">
			/* Chart.js */
			
			@-webkit-keyframes chartjs-render-animation {
				from {
					opacity: 0.99
				}
				to {
					opacity: 1
				}
			}
			
			@keyframes chartjs-render-animation {
				from {
					opacity: 0.99
				}
				to {
					opacity: 1
				}
			}
			
			.chartjs-render-monitor {
				-webkit-animation: chartjs-render-animation 0.001s;
				animation: chartjs-render-animation 0.001s;
			}
		</style>
	</head>

	<body>

		<!--引入topbar-->
		<div th:replace="common/bar::topbar"></div>

		<div class="container-fluid">
			<div class="row">
				<!--引入sidebar-->
				<div th:replace="common/bar::teachersidebar(activeUri='user')"></div>

				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

					<form th:action="@{/teaUser}" method="post">

						<input type="hidden" name="_method" value="put" th:if="${user!=null}"/>
						<input type="hidden" name="id" th:if="${user!=null}" th:value="${user.getId()}">
						<div class="form-group">
							<label>姓名</label>
							<input name="name" type="text" class="form-control" placeholder="zhangsan"
								   th:value="${user!=null}?${user.getName()}">
						</div>
						<p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
						<div class="form-group">
							<label>用户名</label>
							<input name="username" type="text" class="form-control" placeholder="XXXXXXXXXXXX"
								   th:value="${user!=null}?${user.getUsername()}">
						</div>
						<div class="form-group">
							<label>密码</label>
							<input name="password" type="text" class="form-control" placeholder="XXXXXXXXXXXX"
								   th:value="${user!=null}?${user.getPassword()}">
						</div>
						<div class="form-group">
							<label>用户类型</label><br/>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="usertype" value="teacher"
									   th:checked="${user!=null}?${user.getUsertype()=='teacher'}:'true'">
								<label class="form-check-label">教师用户</label>
							</div>

						</div>
						<button type="submit" class="btn btn-primary">修改</button>
					</form>
				</main>
			</div>
		</div>

		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script type="text/javascript" src="asserts/js/jquery-3.2.1.slim.min.js" th:src="@{/asserts/js/jquery-3.2.1.slim.min.js}"></script>
		<script type="text/javascript" src="asserts/js/popper.min.js" th:src="@{/asserts/js/popper.min.js}"></script>
		<script type="text/javascript" src="asserts/js/bootstrap.min.js" th:src="@{/asserts/js/bootstrap.min.js}"></script>

		<!-- Icons -->
		<script type="text/javascript" src="asserts/js/feather.min.js" th:src="@{/asserts/js/feather.min.js}"></script>
		<script>
			feather.replace()
		</script>

	</body>

</html>